<div class="component">
    <div class="head">
        <img src="../../../assets/735145cfe0a4.png" alt="perfil">
        <form class="search">
            <img src="../../../assets/search.png" alt="">
            <input type="search" placeholder="Pesquisar">
        </form>
        <div class="icons">
            <img src="../../../assets/home.png" alt="">
            <img src="../../../assets/chat.png" alt="">
            <img src="../../../assets/more.png" alt="">
            <img src="../../../assets/nav.png" alt="">
            <img src="../../../assets/faves.png" alt="">
            <img src="../../../assets/profile.jpg" alt="profile" width="24px">
        </div>
    </div>
</div>
