<div class="stories">
    <!-- <button>></button> -->
    <div class="storie">
        <img src="../../../assets/profile.jpg" alt="profileImg">
        <p>User Name</p>
    </div>
    <div class="storie">
        <img src="../../../assets/profile.jpg" alt="profileImg">
        <p>User Name</p>
    </div>
    <div class="storie">
        <img src="../../../assets/profile.jpg" alt="profileImg">
        <p>User Name</p>
    </div>
    <div class="storie">
        <img src="../../../assets/profile.jpg" alt="profileImg">
        <p>User Name</p>
    </div>
    <div class="storie">
        <img src="../../../assets/profile.jpg" alt="profileImg">
        <p>User Name</p>
    </div>
    <div class="storie">
        <img src="../../../assets/profile.jpg" alt="profileImg">
        <p>User Name</p>
    </div>
    <div class="storie">
        <img src="../../../assets/profile.jpg" alt="profileImg">
        <p>User Name</p>
    </div>
    <div class="storie">
        <img src="../../../assets/profile.jpg" alt="profileImg">
        <p>User Name</p>
    </div>


    <!-- <button class="next">></button> -->
</div>
