<div class="main">
    <div class="post">
        <div class="postInfos">
            <span class="userInfos">
                <img src="../../../assets/profile.jpg" alt="" width="32px">
                <p>user Name</p>
            </span>
            <img src="../../../assets/config.png" alt="">
        </div>
        <img src="../../../assets/postImg.jpg" alt="" class="postImg">
        <div class="postFoot">
            <div class="icons">
                <span>
                    <img src="../../../assets/faves.png" alt="">
                    <img src="../../../assets/comments.png" alt=""> 
                    <img src="../../../assets/share.png" alt="">
                </span>
                <img src="../../../assets/save.png" alt="">
            </div>
        <span >1 curtidas</span>
        <div class="comments">
            <p>username</p>
            <p class="comment">vnuedisgvydbvisdhvghsdbvhsd\uvsd\vçhdsuvghdusbvbvioçsdhgisdfçhgewjkbhgcgzxwsygersg</p>
            <p class="commentsMore">mais</p>
        </div>
        <p class="more">Ver todos os comentários</p>
        <p class="time">HÁ 40 MINUTOS</p>
        <div class="profileComment">
            <img src="../../../assets/emoji.png" alt="">
            <input type="text" placeholder="Adicione um comentário...">
            <p>Publicar</p>
        </div>
    </div>
</div>
    <div class="post">
        <div class="postInfos">
            <span class="userInfos">
                <img src="../../../assets/profile.jpg" alt="" width="32px">
                <p>user Name</p>
            </span>
            <img src="../../../assets/config.png" alt="">
        </div>
        <img src="../../../assets/postImg.jpg" alt="" class="postImg">
        <div class="postFoot">
            <div class="icons">
                <span>
                    <img src="../../../assets/faves.png" alt="">
                    <img src="../../../assets/comments.png" alt=""> 
                    <img src="../../../assets/share.png" alt="">
                </span>
                <img src="../../../assets/save.png" alt="">
            </div>
        <span >1 curtidas</span>
        <div class="comments">
            <p>username</p>
            <p class="comment">vnuedisgvydbvisdhvghsdbvhsd\uvsd\vçhdsuvghdusbvbvioçsdhgisdfçhgewjkbhgcgzxwsygersg</p>
            <p class="commentsMore">mais</p>
        </div>
        <p class="more">Ver todos os comentários</p>
        <p class="time">HÁ 40 MINUTOS</p>
        <div class="profileComment">
            <img src="../../../assets/emoji.png" alt="">
            <input type="text" placeholder="Adicione um comentário...">
            <p>Publicar</p>
        </div>
    </div>
</div>
</div>