<div class="infos">
    <div class="profile">
        <img src="../../../assets/profile.jpg" alt="" width="56px">
        <div class="profileInfos">
            <p>User Name</p>
            <p>Profile Name</p>
        </div>
        <a href="">Mudar</a>
    </div>
    <div class="mid">
        <h3>Sugestões para você</h3>
        <p>Ver tudo</p>
    </div>
    <div class="sugestions">
        <div class="sugestion">
            <img src="../../../assets/profile.jpg" alt="" width="32px">
            <div class="sugestionInfos">
                <p>user name</p>
                <p>sugestão para você</p>
            </div>
            <p>Seguir</p>
        </div>
        <div class="sugestion">
            <img src="../../../assets/profile.jpg" alt="" width="32px">
            <div class="sugestionInfos">
                <p>user name</p>
                <p>sugestão para você</p>
            </div>
            <p>Seguir</p>
        </div>
        <div class="sugestion">
            <img src="../../../assets/profile.jpg" alt="" width="32px">
            <div class="sugestionInfos">
                <p>user name</p>
                <p>sugestão para você</p>
            </div>
            <p>Seguir</p>
        </div>
        <div class="sugestion">
            <img src="../../../assets/profile.jpg" alt="" width="32px">
            <div class="sugestionInfos">
                <p>user name</p>
                <p>sugestão para você</p>
            </div>
            <p>Seguir</p>
        </div>
    </div>
    <div class="extras">
        <ul class="options">
            <li>Sobre</li>
            <li>Ajuda</li>
            <li>Imprensa</li>
            <li>API</li>
            <li>Carreiras</li>
            <li>Privacidade</li>
            <li>Termos</li>
            <li>Localizações</li>
            <li>Principais contas</li>
            <li>Hashtags</li>
            <li>Idiomas</li>
        </ul>
        <p>© 2022 Instagram from Meta</p>
    </div>
</div>
